services:
  - type: web
    plan: free
    name: Zaid
    env: python
    buildCommand: pip install -U -r requirements.txt
    startCommand: python3 server.py & python3 -m Zaid
    repo: https://github.com/ApolloDevsTR/ApolloUserBot    
    branch: main
    envVars:
      - key: API_ID 
        sync: false
      - key: API_HASH
        sync: false
      - key: BOT_TOKEN 
        sync: false
      - key: PREFIX 
        value: .
      - key: STRING_SESSION
        sync: false
      - key: DOWNLOADS_DIR
        value: downloads/
    autoDeploy: false